@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


:root {
    --background-color: rgb(38, 38, 41);
    --border-color: rgba(255, 255, 255, 0.1);
    --primary-card-color: rgba(255, 255, 255, .9);
    --primary-text-color: rgba(255, 255, 255, .85);
    --article-text-color: rgba(0,0,0, .8);
    --subt-color: rgba(0,0,0,.6)
  }
  
  body {
    background-color: var(--background-color);
    /* background-image: url('images/Climbing_BG.jpg'); Implement later*/
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1, h2, h3, a, p, span, .subt {
    font-family: "Rubik", sans-serif;
    
  }

  a {
    font-weight: 400;
    color: var(--primary-text-color);
  }
  
  a {
    text-decoration: none;
  }
  
  nav {
    background-color: var(--background-color);
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
  }
  
  nav > .nav-section {
    padding: 1rem 1rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid var(--border-color);
    align-items: center;
    justify-content: center;
  }
  
  #nav-logo-section,
  #nav-link-section {
    flex-basis: calc(100% / 3)
  }
  
  #nav-social-section,
  #nav-contact-section {
    flex-grow: 1;
  }
  
  #nav-logo-section {
    justify-content: flex-start;
  }
  
  nav > .nav-section i {
    font-size: 2.5vw;
  }
  
  nav > .nav-section i:hover {
    color: #5f5f5f;
  }
  
  #nav-link-section {
    gap: 6vw; /* Set the gap based on viewport width */
  }
  
  #nav-social-section {
    gap: 6vw; /* Set the gap based on viewport width */
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100vh;
    margin: 0;
  }
  
  #main-container {
    display: flex;
    flex-direction: column;
    flex: 1; /* This will make the main container take up all available space */
  }
  
  nav {
    flex-shrink: 0; /* This will prevent the nav from shrinking */
    width: 100%;
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.about-wrapper{
    height: 100vh;
}
.about-left{
    background: var(--border-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.about-left-content > div{
    background: #666666;
    color: var(--primary-text-color);
    padding: 4rem 4rem 2.5rem 5rem;
    text-align: center;
}
.about-left-content{
    box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
}
.about-img img{
    display: block;
    width: 200px;
}
.about-img {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}
  
.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.shadow{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
    cursor: pointer;
}
.shadow::after{
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    height: 7px;
    width: 50px;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    opacity: 0;
    transition: all 0.6s ease;
}
.shadow:hover .about-img{
    transform: translateY(-10px);
}
.shadow:hover::after{
    opacity: 1;
}
.about-left-content h2{
    font-size: 2rem;
    margin: 2.2rem 0 0.6rem 0;
    line-height: 1.2;
    padding-bottom: 1rem;
    border-bottom: 2px solid #edffec;
}
.about-left-content h3{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 1.2rem;
}
.icons{
    background: #fff;
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
}
.icons li{
    list-style-type: none;
    background: var(--article-text-color);
    color: #fff;
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.icons li:hover{
    background: rgb(203, 203, 207);
    color: #000;
}
.about-right{
    background: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
    text-align: center;
}
.about-right h1{
    font-size: 7rem;
    text-transform: uppercase;
}

.about-right h2{
    font-weight: 600;
}
.about-btns{
    display: flex;
    margin: 2rem 0;
}
.btn{
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 0.55rem 0;
    width: 130px;
    font-weight: 600;
    background: transparent;
    margin: 0 0.5rem;
    cursor: pointer;
}
.btn.btn-pink{
    background: var(--article-text-color);
    color: #fff;
    border-color: var(--article-text-color);
    transition: all 0.5s ease-in-out;
}
.btn.btn-pink:hover{
    background: transparent;
    border-color: var(--article-text-color);
    color: #000;
}
.btn.btn-white{
    transition: all 0.5s ease-in-out;
}
.btn.btn-white:hover{
    background: var(--article-text-color);
    border-color: var(--article-text-color);
    color: #fff;
}
.about-para p{
    font-weight: 300;
    padding: 0.5rem;
    opacity: 0.8;
}

@media screen and (min-width: 992px){
    .about-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .about-left{
        position: relative;
    }
    .about-left-content{
        position: absolute;
        right: -50px;
    }
}

#nav-link-section a:hover,
#nav-contact-section a:hover {
  color: #5f5f5f;
}