:root {
  --background-color: rgb(38, 38, 41);
  --border-color: rgba(255, 255, 255, 0.1);
  --primary-card-color: rgba(255, 255, 255, .9);
  --primary-text-color: rgba(255, 255, 255, .85);
  --article-text-color: rgba(0,0,0, .8);
  --subt-color: rgba(0,0,0,.6)
}

body {
  background-color: var(--background-color);
  /* background-image: url('images/Climbing_BG.jpg'); Implement later*/
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, a, p, span, .subt {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: var(--primary-text-color);
}

a {
  text-decoration: none;
}

nav {
  background-color: var(--background-color);
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

nav > .nav-section {
  padding: 1rem 1rem;
  display: flex;
  gap: 1rem;
  border-left: 1px solid var(--border-color);
  align-items: center;
  justify-content: center;
}

#nav-logo-section,
#nav-link-section {
  flex-basis: calc(100% / 3)
}

#nav-social-section,
#nav-contact-section {
  flex-grow: 1;
}

#nav-logo-section {
  justify-content: flex-start;
}

nav > .nav-section i {
  font-size: 2.5vw;
}

nav > .nav-section i:hover {
  color: #5f5f5f;
}

#nav-link-section {
  gap: 6vw; /* Set the gap based on viewport width */
}

#nav-social-section {
  gap: 6vw; /* Set the gap based on viewport width */
}

body {
  /* Set the background image */
  background-image: url('images/Climbing_BG.jpg');
  /* Set the background attachment to fixed */
  background-attachment: fixed;
  /* Set the background size to cover */
  background-size: cover;
  /* Set the background position */
  background-position: center center;
  /* Your existing body styles */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
  margin: 0;
}

#main-container {
  display: flex;
  flex-direction: column;
  flex: 1; /* This will make the main container take up all available space */
}

nav {
  flex-shrink: 0; /* This will prevent the nav from shrinking */
  width: 100%;
}

.cards {
  flex-grow: 1; /* This will make the cards container take up all remaining space */
  overflow: auto; /* This will allow the cards container to scroll */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align the content at the top of the container */
  padding: 1vw;
  width: 40%;
}

.scrollable-card {
  background-color: var(--primary-card-color);
  border-radius: .8vw;
  box-shadow: 0 .4vw .8vw rgba(0, 0, 0, 0.8);
  padding: 1vw;
}

.scrollable-card img {
  width: 100%; /* This will make the image fill the width of the card */
  height: auto; /* This will maintain the image's aspect ratio */
  border-radius: .8vw; /* This will round the corners of the image */
  object-fit: cover; /* This will make sure the image covers the entire area of the card */
  border: .15vw solid rgba(0,0,0, .5);
  opacity: .95;
  box-sizing: border-box;
}

h1 {
  font-size: 3vw;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 0vw;
  color: var(--article-text-color);
}

.subt {
  font-size: 1.5vw;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: -1vw;
  color: var(--subt-color);
}

h2 {
  font-size: 2vw;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: -1vw;
  color: var(--article-text-color);
}

h3 {
  font-size: 1.5vw;
  font-weight: 790;
  margin-top: 0;
  margin-bottom: -1vw;
  color: var(--article-text-color);
}

p {
  font-family: 'EB Garamond', serif;
  font-size: 1.3vw;
  font-weight: 500;
  line-height: 1.6;
  color: var(--article-text-color);
}

