:root {
    --background-color: rgb(38, 38, 41);
    --border-color: rgba(255, 255, 255, 0.1);
    --primary-text-color: rgba(255, 255, 255, .75);
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, a, p, span {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: var(--primary-text-color);
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}

nav > .nav-section {
    padding: 1rem 1rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid var(--border-color);
    align-items: center;
    justify-content: center;
}

#nav-logo-section,
#nav-link-section {
    flex-basis: calc(100% / 3)
}

#nav-social-section,
#nav-contact-section {
    flex-grow: 1;
}

#nav-logo-section {
    justify-content: flex-start;
}

nav > .nav-section i {
    font-size: 2.5vw;
}

nav > .nav-section i:hover {
    color: #5f5f5f;
}

#nav-link-section {
    gap: 6vw; /* Set the gap based on viewport width */
}

#nav-social-section {
    gap: 6vw; /* Set the gap based on viewport width */
}

main {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

main > article {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: transform 400ms ease;
}

main > article:first-child > .article-image-section {
    background-image: url("images/Climbing_BG.jpg");
}
  
main > article:nth-child(2) > .article-image-section {
    background-image: url("images/Sloppy_Hull.png");
}
  
main > article:nth-child(3) > .article-image-section {
    background-image: url("images/Example_STFT.png");
}

main > article > .article-image-section {
    background-position: center;
    background-size: cover;
}

main > article[data-status="inactive"] {
    transform: translateX(-100%);
    transition: none;
}

main > article[data-status="active"] {
    transform: translateX(0%);
}
  
main > article[data-status="before"] {
    transform: translateX(-100%);
}
  
main > article[data-status="after"] {
    transform: translateX(100%);
}
  
main > article[data-status="becoming-active-from-before"] {
    transform: translateX(-100%);
    transition: none;
}
  
main > article[data-status="becoming-active-from-after"] {
    transform: translateX(100%);
    transition: none;
}

main > article > .article-section {
    height: 100%;
}

main > article > .article-description-section,
main > article > .article-nav-section {
    border-left: 1px solid var(--border-color)
}

main > article > .article-title-section,
main > article > .article-nav-section {
    border-top: 1px solid var(--border-color)
}

.article-description-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4vh; /* Adjust the padding based on viewport height */
    height: 100%; /* Ensure the container takes up the full height */
}

.article-description-section p {
    padding: 2vh; /* Add more padding to the text content based on viewport height */
    text-align: center; /* Center the text horizontally */
    font-size: 1.5vw; /* Set the font size based on viewport width */
    margin: 0; /* Remove default margin */
    color: rgba(255, 255, 255, .6);
}

.article-title-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article-title-section h2 {
    font-size: 4vw;
    margin: 0;
    margin-left: 3vw; /* adjust the value as needed */
    padding: 1vh;
}

.article-title-section button {
    padding: 2vh;
    font-size: 5vw;
    display: flex;
    gap: 2vw;
    background-color: transparent;
    color: var(--primary-text-color);
    border: none;
    cursor: pointer;
    margin-right: 3vw;
    transition: transform 0.2s ease;
}

.article-title-section button:hover {
    transform: scale(1.25);
}

.article-nav-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-button-wrapper {
    padding: 0;
    margin: 0; /* Remove default margin */
    position: relative; /* Add position relative for containing the button */
}

.nav-button {
    padding: 0;
    background-color: transparent;
    color: var(--primary-text-color);
    border: none;
    cursor: pointer;
    font-size: 5vw;
    margin: 0;
    transition: transform 0.2s ease;
}

/* Adjust the gap between the buttons using margin */
.nav-button-wrapper + .nav-button-wrapper {
    margin-left: 10vw; /* Change the gap between the buttons as needed */
}

/* Move the left chevron to the left on hover */
.nav-button-wrapper[data-direction="left"]:hover .nav-button {
    transform: translateX(-2vw);
}

/* Move the right chevron to the right on hover */
.nav-button-wrapper[data-direction="right"]:hover .nav-button {
    transform: translateX(2vw);
}


nav > .nav-section,
main > article > .article-section {
    transition: background-color .35s ease;
}

nav > .nav-section:hover,
main > article > .article-section:hover {
    background-color: rgba(0, 0, 0, 0.15);
}