:root {
    --background-color: rgb(38, 38, 41);
    --border-color: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, a, p, span {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: white;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}

nav > .nav-section {
    padding: 1rem 1rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid var(--border-color);
    align-items: center;
    justify-content: center;
}

#nav-logo-section,
#nav-link-section {
    flex-basis: calc(100% / 3)
}

#nav-social-section,
#nav-contact-section {
    flex-grow: 1;
}

#nav-logo-section {
    justify-content: flex-start;
}

nav > .nav-section img {
    width: 3vw; /* Set the desired width for the images based on viewport width */
    height: 3vw; /* Set the desired height for the images based on viewport width */
}

#nav-link-section {
    gap: 6vw; /* Set the gap based on viewport width */
}

#nav-social-section {
    gap: 6vw; /* Set the gap based on viewport width */
}

main {
    flex-grow: 1;
}

main > article {
    display: grid;
    height: 100%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
}

main > article > .article-section {
    height: 100%;
}

main > article > .article-description-section,
main > article > .article-nav-section {
    border-left: 1px solid var(--border-color)
}

main > article > .article-title-section,
main > article > .article-nav-section {
    border-top: 1px solid var(--border-color)
}

main > article > .article-image-section {
    background-image: url("images/Climbing_BG.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.article-description-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4vh; /* Adjust the padding based on viewport height */
    height: 100%; /* Ensure the container takes up the full height */
}

.article-description-section p {
    padding: 2vh; /* Add more padding to the text content based on viewport height */
    text-align: center; /* Center the text horizontally */
    font-size: 1.5vw; /* Set the font size based on viewport width */
    margin: 0; /* Remove default margin */
}

.article-title-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article-title-section h2 {
    font-size: 3vw;
    margin: 0;
    margin-left: 3vw; /* adjust the value as needed */
    padding: 1vh;
}

.article-title-section button {
    padding: 2vh;
    font-size: 5vw;
    display: flex;
    gap: 2vw;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 3vw;
}

.article-nav-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-button {
    padding: 0vw; /* Adjust the padding as needed */
    background-color: transparent; /* Remove the background color for the button */
    color: #fff; /* Customize the button text color as needed */
    border: none;
    cursor: pointer;
    font-size: 5vw; /* Set the desired font size for the icons */
    margin: 0; /* Remove default margin */
}

/* Adjust the gap between the buttons using margin */
.nav-button + .nav-button {
    margin-left: 10vw; /* Change the gap between the buttons as needed */
}
