:root {
    --background-color: rgb(38, 38, 41);
    --border-color: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, a, p, span {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: white;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}

nav > .nav-section {
    padding: 1rem 1rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid var(--border-color);
    align-items: center;
    justify-content: center;
}

#nav-logo-section,
#nav-link-section {
    flex-basis: calc(100% / 3)
}

#nav-social-section,
#nav-contact-section {
    flex-grow: 1;
}

#nav-logo-section {
    justify-content: flex-start;
}

nav > .nav-section img {
    width: 40px; /* Set the desired width for the images */
    height: 40px; /* Set the desired height for the images */
}

#nav-link-section {
    gap : 6rem;
}

#nav-social-section {
    gap: 6rem;
}

main {
    flex-grow: 1;
}

main > article {
    display: grid;
    height: 100%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
}

main > article > .article-section {
    height: 100%;
}

main > article > .article-description-section,
main > article > .article-nav-section {
    border-left: 1px solid var(--border-color)
}

main > article > .article-title-section,
main > article > .article-nav-section {
    border-top: 1px solid var(--border-color)
}

main > article > .article-image-section {
    background-image: url("images/Climbing_BG.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.article-description-section p {
    padding: 10px;
}

.article-title-section h2 {
    padding-left: 10px;
}

.article-title-section button {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #007bff; /* Customize the button background color as needed */
    color: #fff; /* Customize the button text color as needed */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.article-nav-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-button {
    padding: 10px;
    margin: 0 10px; /* Add space between the buttons */
    background-color: transparent;
    color: #fff; /* Customize the button text color as needed */
    border: none;
    cursor: pointer;
    font-size: 60px; /* Customize the font size as needed */
    flex-grow: 1; /* Let the buttons take up available horizontal space */
}
